* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{

}
@font-face {
	font-family: kamerik-3d;
	src: url(./fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}

@font-face {
	font-family: merriweather-italic-3d;
	src: url(../css/fonts/merriweather-regular-italic.woff2);
}

body{
	background-color: black;
}