* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{

}
@font-face {
	font-family: kamerik-3d;
	src: url(./fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}

@font-face {
	font-family: merriweather-italic-3d;
	src: url(../css/fonts/merriweather-regular-italic.woff2);
}

body{
	background-color: black;
	color: #fff;
	font-family: kamerik-3d;
}
.logo {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
}

.layers {
	perspective: 1000px;
	overflow: hidden;

}
.layers__container {
	height: 100vh;
	transform-style: preserve-3d;
}

.layers__item {
	position: absolute;
    inset: -5vw;
	background-size: cover;
	background-position:  center;
	transform: rotateX(var(--move-x)) rotateY(var(--move-y));
}

.later-1 {
	transform: translateZ(80px);
}

.later-2 {
	transform: translateZ(180px);
}

.later-3 {
	transform: translateZ(190px);
}

.later-4 {
	transform: translateZ(300px);
}

.later-5 {
	transform: translateZ(300px);
}

.later-6 {
	transform: translateZ(380px);
}

